{% extends 'common/base_material.html' %}
{% load static %}

{% block title %}Storage Accounts{% endblock %}

{% block page_title %}Storage Accounts List{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript: void(0);">Inventory</a></li>
  <li class="breadcrumb-item active">Storage Accounts</li>
</ul>
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>SKU</th>
      <th>Access Tier</th>
    </tr>
  </thead>
  <tbody>
    {% for sa in accounts %}
    <tr>
      <td>{{ sa.name }}</td>
      <td>{{ sa.location }}</td>
      <td>{{ sa.sku }}</td>
      <td>{{ sa.tier }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="4" class="text-center">No storage accounts</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
