{% extends 'common/base_material.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block page_title %}Change Password{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
  <li class="breadcrumb-item active">Change Password</li>
</ul>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h2 class="text-center">Change Password</h2>
    <form method="post" class="card p-4">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary w-100">Update Password</button>
    </form>
  </div>
</div>
{% endblock %}
